# Core settings
CONFIG_FREERTOS_HZ=1000

# Flash & PSRAM Active
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y

# Arduino Core Stack
CONFIG_ARDUINO_LOOP_STACK_SIZE=8192
